.stage-5{
  background-image: url('../img/scene_5_bg.jpg');
  .deng{
    background-image: url('../img/scene_3_item_1.png');
    width: 353px;
    height: 378px;
    background-size: 353px 378px;
    position: absolute;
    left: 10px;
    top:120px;
  }
  .zi{
    background-image: url('../img/end.png');
    width: 448px;
    height: 537px;
    background-size: 448px 537px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
}