#stage{
  background-color: #000;
  background-repeat: no-repeat;
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  right:0;
  overflow: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}